{% extends 'base.html.twig' %}

{% block body %}
    <h1>Phone creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('person_show', {'id' : personId}) }}">Back to the person.</a>
        </li>
    </ul>
{% endblock %}
